RewriteEngine On

# Si le fichier ou dossier existe, on le laisse
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, tout redirige vers index.php
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
